MIX_ENV=prod
PHX_SERVER=true
PORT={{ app_port }}
PHX_HOST={{ phx_host }}
DATABASE_URL=ecto://{{ db_user }}:{{ db_password }}@{{ postgres_ip }}:5432/{{ db_name }}
SECRET_KEY_BASE={{ secret_key_base }}
POOL_SIZE=10
