[Unit]
Description=Jurl Phoenix Application Service
After=network.target

[Service]
Type=exec
User={{ app_user }}
Group={{ app_user }}
WorkingDirectory={{ app_dir }}
EnvironmentFile={{ env_file_path }}
ExecStart={{ app_dir }}/bin/server
Restart=always
RestartSec=5
LimitNOFILE=65536

[Install]
WantedBy=multi-target.target
